{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}
{% block content %}
<div class="wine-bottle-container">
    {% if wine.style == 'Red' %}
    <img src="{% static 'images/red-wine-bottle-3.svg' %}" alt="CellarMe Logo" class="wine-bottle-image" />
    {% else %}
    <img src="{% static 'images/white-wine-bottle-2.svg' %}" alt="CellarMe Logo" class="wine-bottle-image" />
    {% endif %}
    <div
        class="{% if wine.style == 'White' %}white-overlay{% else %}red-overlay{% endif %} flex flex-col justify-center items-center tenor-sans-regular">
        <p class="mb-2">{{ wine.producer }}</p>
        <img src="{% static 'images/tree-svgrepo-com.svg' %}" alt="Wine Bottle Logo" class="w-[65px] h-[65px] mb-3" />
        <p class="wine-year text-xs">{{ wine.year }}</p>
        <p class="italic">{{ wine.region }}</p>
        <p>{{ wine.variety}}</p>
    </div>
</div>
<div class="wine-detail-container">
    <div class="separator w-[420px]"></div>
    <div class="wine-details w-[800px] flex flex-col gap-12">
        <div class="flex flex-row justify-between">
            <div class="region-details w-[370px] h-[350px]">
                <h1>{{ wine.producer }} {{ wine.variety }} {{ wine.year }}</h1>
                <p>A {{ wine.style }} wine from {{ wine.region }}, {{wine.country}}</p>
                <div class="wine-actions">
                    <a href="{% url 'wine-update' wine.id %}" class="btn warn">Edit</a>
                    <a href="{% url 'wine-delete' wine.id %}" class="btn danger">Delete</a>
                </div>
            </div>
            <div id="map" class="misc-image-container w-[370px] h-[350px]">
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmV3ZGViZW5oYW0iLCJhIjoiY2x6ajJ3cXp2MG1iazJqcHI5ZXFocmJyNCJ9.4IMVFlxsyqClkhiFYl81fA';
                    const map = new mapboxgl.Map({
                        container: 'map', // container ID
                        style: 'mapbox://styles/mapbox/streets-v12', // style URL
                        center: {{ coordinates }}, // starting position [lng, lat]
                        zoom: 9 // starting zoom
                    });

                    // Create a marker and set its position
                    const marker = new mapboxgl.Marker()
                        .setLngLat({{coordinates}})
                        .addTo(map);

                    // Create a popup and set its content
                    const popup = new mapboxgl.Popup({ offset: 25 })
                        .setText('{{ wine.region }}, {{wine.country}}');

                    // Add the popup to the marker
                    marker.setPopup(popup);

                    // Optionally, open the popup by default
                    popup.addTo(map);

                </script>
            </div>
        </div>
        <div class="progress-container h-[250px]">
            <div class="graph">
                <div class="graph-name">Ageing Progress</div>
                <div class="graph-bar">
                    <div class="graph-per" per="{{wine.ageing_progress|floatformat:0}}%"
                        style="max-width: {{ wine.ageing_progress|floatformat:0 }}%;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}