{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}
{% block content %}
    <div class="divider"></div>
    <h1 class="text-white text-3xl mb-10">Wine List</h1>
    <!-- <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
    <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
    <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
    <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> -->
    
    
    <div class="wine-card-container pl-10">
        {% for wine in wines %}
            <div class="wine-card flex items-center justify-center w-[260px] h-[310px]">
                <a href="{% url 'wine-detail' wine.id %}">
                    <div class="card-content flex items-center justify-center flex-col">
                        <div class="card-img-container">
                            <img
                                src="{% static 'images/wine-bottle-svgrepo-com.svg' %}"
                                alt="CellarMe Logo"
                            />
                        </div>
                        <h2 class="card-title">{{ wine.producer }} {{ wine.variety }} {{ wine.year }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}