{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="wine-form-container">
        {% if wine %}
            <h1>Edit {{ wine.producer }} {{ wine.variety }} {{ wine.year }}</h1>
        {% else %}
            <h1>Add a Wine</h1>
        {% endif %}
    
    <form method="post" class="wine-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% if object %}
            <button type="submit" class="btn submit">Edit Wine</button>
        {% else %}
            <button type="submit" class="btn submit">Create Wine</button>
        {% endif %}
    </form>
</div>

{% endblock %}