{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wine-bottle-svgrepo-com.svg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <title>CellarMe</title>
    {% block head %}
    {% endblock%}
</head>

<body>
    <header class="header">
        <a href="/" class="logo">
            CellarMe
        </a>
        <nav class="navbar flex">
            {% if user.is_authenticated %}
            <a href="{% url 'wine-index' %}">Your Collection</a>
            <a href="{% url 'wine-create' %}">Add a Wine</a>

            <form id="logout-form" method="post" action="{% url 'user-logout' %}">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>

            {% else %}
            <a href="{% url 'home' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Footer Content</p>
    </footer>
</body>

</html>