* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: wheat;
    margin: 0;
    /* background-image: url('../images/background-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    --nav-bg: rgba(104, 197, 248, 0.7);
    --nav-bg-ff: rgba(104, 197, 248, 0.9);
    --borders: rgb(36, 116, 248) solid 2px;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(16, 56, 158);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

/* Home and Base */

.login-container,
.logo-container {
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a,
form {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before,
form::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before,
form:hover::before {
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.login h1 {
    font-size: clamp(3.2rem, 3vw, 4.8rem);
    margin: 10px 0;
}

.login>p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 14px 0 0px;
}

.login label {
    font-size: var(--font-reg);
    margin-bottom: 6px;
}

.login input {
    font-size: var(--font-l);
    padding: 2px 4px;
    color: black;
}

.login .btn {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 16px;
}

.divider {
    height: 90px;
}

/* Wine List */

.wine-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.wine-card {
    border-radius: 5px;
    padding: 0.5rem;
    transition: .5s;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.wine-card:hover {
    transition: .7s;
    box-shadow: 10px 2px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Wine Detail */

.wine-detail-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    margin-top: 150px;
    padding: 20px;
}

.wine-bottle-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
}

.wine-bottle-image {
    height: 85%;
    width: auto;
    object-fit: contain;
    object-position: left;
}

.red-overlay {
    position: absolute;
    top: calc(50% + 75px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.white-overlay {
    position: absolute;
    top: calc(50% + 155px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    p {
        font-size: 14px;
    }

    .wine-year {
        font-size: 12px;
    }
}

.region-details,
.misc-image-container,
.timeline-container {
    background-color: rgba(0, 0, 0, 0.4);
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.graph-name {
    font-size: 18px;
    font-weight: 700;
    color: #282828;
    text-transform: uppercase;
    margin: 20px 0;
}

.graph-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.graph-per {
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 3s 1;
}

.graph-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.graph-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}